# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a


*~
*.swp



qncopy
qncopywts
qnmultifwd
qnmultitrn
qnnorm 
qnsfwd
qnstrn


*.log

autom4te.cache
share
testsuite
